<!-- SIDEBAR -->
<aside class="menu">
    <div class="menu-brand">
        <div class="menu-brand-icon">
            <img src="/assets/img/icons/PsiLogo.png" alt="Logo">
        </div>
        <div class="menu-brand-text">
            <h2>Psicologia</h2>
            <span>Cláudia Bethânia</span>
            <span>CRP 18/9851</span>
        </div>
    </div>

    <ul>
        <li><a href="/index.html"><i class="ti ti-home"></i> Início</a></li>
        <li><a href="/Pages/novopaciente.html"><i class="ti ti-user-plus"></i> Novo Paciente</a></li>
        <li><a href="/Pages/pacientes.html"><i class="ti ti-users"></i> Pacientes</a></li>
        <li><a href="/Pages/sessoes.html"><i class="ti ti-clipboard-list"></i> Sessões</a></li>
        <li><a href="/Pages/agenda.html"><i class="ti ti-calendar"></i> Agenda</a></li>
        <li><a href="/Pages/documentos.html"><i class="ti ti-file-text"></i> Documentos</a></li>
        <li><a href="/Pages/financeiro.html"><i class="ti ti-wallet"></i> Financeiro</a></li>
        <li><a href="/Pages/lixeira.html"><i class="ti ti-trash"></i> Lixeira</a></li>
    </ul>

    <div class="copyright">
        <p>"Cuidar da mente é transformar vidas"</p>
    </div>

    <footer class="rodape">
        <a href="#" onclick="encerrarSessao(); return false;" class="btn-sair" title="Sair"> 
            Encerrar Sessão
            <i class="ti ti-logout"></i>
        </a>
        <a href="/Pages/trocar-senha.html" class="btn-senha" title="Trocar Senha"> 
            Trocar Senha
            <i class="ti ti-key"></i>
        </a>
    </footer>

</aside>